body {
    margin:0;
    padding:0;
    font: 10pt 'Roboto', sans-serif;
}

h1 {
    font-size: 14pt;
    color: white;
    background: #555;
    display: block;
    margin-top: 0;
    padding: 15px;
}

p {
    padding-left: 15px;
    padding-right: 15px;
}

section {
    padding-bottom: 32px;
    border-bottom: 1px solid #cecece;
}